 <div class="container">
<form (ngSubmit)="login()" autocomplete="off" #miFormulario="ngForm" class="well form-horizontal">
  <div class="form-group">
    <label> Correo electronico: </label>
    <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" id="email">
    <!-- <span class="form-text text-danger">
    Debe introducir un email, Gracias.
    </span> -->
  </div>
  <div class="form-group">
    <label> Contraseña </label>
    <input type="password"  class="form-control" [(ngModel)]="usuario.password" name="password" id="password">
    <!-- <span class="form-text text-danger">
    Debe introducir una contraseña, Gracias.
    </span> -->
  </div>
  <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.invalid" (click)="login()">
    Loguear</button>
</form>
  <div class="row">
    <div class="col">
      <div class="">
        <a class="" [routerLink]="['/registro']">No tengo cuenta, deseo registrarme</a>
      </div>
    </div>
  </div>
</div>
