<div class="container">
        <div class="row pt-5">
          <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="90" >
            <ng-container *cdkVirtualFor="let patinete of listapatinetes">
              <div class="card-body">
                <h5 class="card-title text-center ">{{patinete.modelo}}</h5>
                <p class="card-text">{{patinete.kmhora}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </ng-container>
          </cdk-virtual-scroll-viewport>
        </div>
</div>


