<header class="bg-light rounded">
    <div class="row gx-0">
        <div class="col-2 col-lg-2">
            <img class="col-lg-6 col-md-12 col-sm-12 col-xs-3 img-responsive" src="../../../assets/img/logo.png">
        </div>
        <div class=" col-2 col-lg-3 d-flex align-items-center">
            <img class="col-5 img-responsive" src="../../../assets/img/1281481.png">
        </div>
    </div>

    <ul class="navbar">
        <div class="row gx-0">
            <div class="col-2">
                <li class="active btn btn-light btn-lg h5"><a class="nav-link h4 text-dark" [routerLink]="['reserva']" routerLinkActive="router-link-active">Reservar Patinete</a></li>
            </div>
            <div class="col-2">
              <li class="active btn btn-light btn-lg h5"><a class="nav-link h4 text-dark" [routerLink]="['home']" routerLinkActive="router-link-active">Home</a></li>
          </div>
            <div class="col-2">
                <li class="btn btn-light btn-lg h5"><a class="nav-link h4 text-dark" [routerLink]="['alquiler']" routerLinkActive="router-link-active">Listar Alquileres</a></li>
            </div>
            <div class="col-2">
                <li class="btn btn-light btn-lg h5"><a class="nav-link h4 text-dark" [routerLink]="['listapatinetes']" routerLinkActive="router-link-active">Ver Flota Disponible</a></li>
            </div>
            <div class="col-2">
                <li class="btn btn-light btn-lg h5"><a class="nav-link h4 text-dark" [routerLink]="['contacto']" routerLinkActive="router-link-active">Contacto</a></li>
            </div>
        </div>
    </ul>
